.theme-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--alt-text-color);
  font-size: 0.9rem;

  .theme-select-label{
    font-weight: 500;
  }

  .theme-select-dropdown {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--card-shadow-color);
    background: var(--card-back-color);
    color: var(--text-color);
    font-size: 0.9rem;
  }
}
