.flashcard {
  max-width: 100vw;
  width: 480px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 600px;
    height: 375px;
  }

  @media (min-width: 1024px) {
    width: 720px;
    height: 450px;
  }

  @media (min-width: 1600px) {
    width: 840px;
    height: 525px;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    transform-origin: center center;
    color: var(--text-color);
    box-sizing: border-box;
    box-shadow: 0 6px 18px var(--card-shadow-color);
    border-radius: 8px;
  }
  &.flipped .card {
    transform: rotateX(180deg);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.1rem;

    .content {
      padding: 1rem;
      text-align: center;
      word-wrap: break-word;
      overflow: auto;
      font-size: 2rem;
      line-height: 1.2;

      @media (min-width: 768px) {
        font-size: 2.25rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1440px) {
        font-size: 2.75rem;
      }
    }
  }
  .front {
    background: var(--card-front-color);
  }
  .back {
    background: var(--card-back-color);
    transform: rotateX(180deg);
  }
}
