.flashcard {
  width: 480px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: center center;
    color: var(--text-color);
    box-sizing: border-box;
    box-shadow: 0 6px 18px var(--card-shadow-color);
    border-radius: 8px;
  }
  &.flipped .card {
    transform: rotateX(180deg);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.1rem;

    .content {
      padding: 1rem;
      text-align: center;
    }
  }
  .front {
    background: var(--card-front-color);
  }
  .back {
    background: var(--card-back-color);
    transform: rotateX(180deg);
  }
}
