.topbar-container {
  display: flex;
  justify-content: center;
  padding: 0.2rem 1rem;
  background-color: var(--primary-color);
  color: var(--alt-text-color);
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.option {
  color: var(--alt-text-color);
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

.option:hover {
  text-decoration: underline;
}
