.topbar-container {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--alt-text-color);

  @media (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;

  @media (max-width: 768px) {
    gap: 0.25rem;
  }
}

.option {
  color: var(--alt-text-color);
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.option:hover {
  text-decoration: underline;
}
