:host {
  flex: 1;
  display: flex;
}

.study-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.card-wrapper {
  display: inline-block;
  will-change: transform, opacity;
  transition: transform 250ms ease, opacity 250ms ease;
  transform-origin: center center;
}

.controls {
  button {
    margin: 0 10px;
  }
}
