.edit-deck-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }

  h2,
  h3 {
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  h3 {
    margin-top: 0;
  }
}

.container {
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

.deck-form {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 500;
    color: var(--text-color);
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    input[type='text'] {
      flex: 1;
    }

    input[type='checkbox'] {
      width: 16px;
      height: 16px;
    }
  }
}

.cards-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .card-item {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .card-view {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .card-front,
    .card-back {
      color: var(--text-color);
    }

    .card-actions {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }
  }

  .card-edit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.add-card {
  input {
    width: 100%;
    max-width: 350px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}


