:root {
  --primary-color: #0056b3; /* Deep blue for accents */
  --alt-primary-color: #004085; /* Darker blue for hover states */
  --secondary-color: #6c757d; /* Neutral gray for secondary elements */
  --alt-secondary-color: #5a6268; /* Darker gray for secondary hover states */
  --background-color: #e0f7fa; /* Light blue for the background */
  --text-color: #000000; /* Black for text */
  --alt-text-color: #ffffff; /* White for alternative text */
  --card-front-color: #ffffff; /* White for flashcard front */
  --card-back-color: #f4f6f8; /* White for flashcard back */
  --card-background: #ffffff; /* White for card containers */
  --card-shadow-color: rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  --warning-color: #dc3545; /* Red for delete buttons or warnings */
  --alt-warning-color: #c82333; /* Darker red for warning hover states */
  --border-color: #ced4da; /* Light gray for borders */
  --input-background: #ffffff; /* White for input backgrounds */
  --error-color: #721c24; /* Dark red for error text */
  --error-background: #f8d7da; /* Light red for error background */
}

[data-theme="dark"] {
  --primary-color: #3399ff;
  --alt-primary-color: #084298;
  --secondary-color: #adb5bd;
  --alt-secondary-color: #6c757d;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --alt-text-color: #000000;
  --card-front-color: #2b2b2b; /* Dark gray for flashcard front */
  --card-back-color: #333333; /* Slightly darker gray for flashcard back */
  --card-background: #2b2b2b; /* Dark gray for card containers */
  --card-shadow-color: rgba(0, 0, 0, 0.7); /* Stronger shadow for depth */
  --warning-color: #ff6b6b;
  --alt-warning-color: #e55353;
  --border-color: #495057; /* Dark gray for borders */
  --input-background: #333333; /* Dark gray for input backgrounds */
  --error-color: #f8d7da; /* Light red for error text */
  --error-background: #721c24; /* Dark red for error background */
}
